@media (max-width: 575.98px) {
   .di-c-mb-res{
       margin-bottom: 21px;
   }

   .padding-side-res{
       padding-left: 1em;
       padding-right: 1em;
   }

   .search-li-big-screen{
       display: none !important;
   }

   .search-small-screen{
       display: flex !important;
   }
   
   .dropdown-menu{
       width: 50%;
   }

    .login-dropdown-div{
        width: auto;
    }
}


@media (max-width: 767.98px) {
    html {
        font-size: 14px;
    }

    .pd-mb-res{
        margin-bottom: 3em;
    }

    .mt-res{
        margin-top: 6em !important;
    }

    .w-res{
        width: 100% !important;
    }

    .card-center-res{
        display: flex;
        justify-content: center;   
    }

    .pop-up {
        background-color: rgba(209, 231, 221, 1);
    }

    .login-width{
        width: 75%;
    }
}

@media (max-width: 450px){
    .pop-up-thid-btn-w{
        width: auto;
    }
}