@media (max-width: 575.98px) {
   .di-c-mb-res{
       margin-bottom: 21px;
   }
}


@media (max-width: 767.98px) {
    .pd-mb-res{
        margin-bottom: 3em;
    }

    .mt-res{
        margin-top: 6em !important;
    }

    .w-res{
        width: 100% !important;
    }

    .card-center-res{
        display: flex;
        justify-content: center;
    }

    .pop-up {
        background-color: rgba(209, 231, 221, 1);
    }
}
