html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: ghostwhite;
}

p {
    word-break: break-word;
    margin-bottom: 0;
    font-size: 16px;
}

img{
    width: 100%;
    height: auto;
}

.item{

}

.base-border{
    border: 1px solid black;
}

.cart-number {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 50%;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    border-radius: 50%;
    color: white;
    background-color: brown;
}

.pop-up {
    position: fixed;
    right: 1%;
    top: 7%;
    background-color: rgba(209, 231, 221, 0.5);
    z-index: 2000;
    transition: opacity 0.2s ease-in
}

.pop-up-second {
    position: fixed;
    right: 1%;
    bottom: 3%;
    background-color: rgba(209, 231, 221, 1);
    z-index: 1000;
    transition: opacity 0.15s ease-in
}

.num-element {
    background-color: lightblue;
    display: inline-block;
    width: 1.2em;
    border-radius: 50%;
    text-align: center;
}

.hover-arrow:hover{
    cursor: pointer;
}

.hover-arrow > div{
    cursor: pointer;
}

.btn-remove {
    background: none;
    border: none;
    transition: opacity 0.1s ease-in-out
}

.btn-remove:hover {
    opacity: 0.5;
}

.input-after{
    position: relative;
}

.input-after::after {
    content: '*';
    position: absolute;
    top: 5px;
    right: 10px;
    color: blue;
    font-size: 1.2em;
}

form > .btn-remove{
    color: red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 2000;
}

.pop-up-third {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.5em;
    border-radius: 8px;
    z-index: 2001;
}

.pop-up-thid-btn-w {
    width: 10vw;
}

#close-ok {
    margin-top: 1em;
}

.darken:active {
    filter: brightness(80%);
}

.card-hover:hover {
    filter: brightness(93%);
}

.card-hover:active{
    filter: brightness(90%);
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
    border-color: initial;
}

.search-btn{
    background: none;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search-btn:hover{
    background-color: lightgrey;
    border: 1px solid black;
    border-left: none;
}

.search-li-big-screen{
    width: 40%;
}

.search-small-screen{
    display: none !important;
}

.pagination > .page-item.active > .page-link {
    background-color: black;
    color: white;
    border-color: #dee2e6;
}

.pagination > .page-item > .page-link {
    color: black;
    font-weight: bold;
    border-radius: 10px;
}

.pagination > li > a:hover {
    color: inherit;
}

.pagination > li > a:focus {
    outline: none;
    box-shadow: none;
}

.pagination > li > a:active {
    filter: brightness(95%);
}

.page-item.disabled{
    filter: brightness(90%)
}