html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
    word-break: break-word;
    margin-bottom: 0;
}

img{
    width: 100%;
    height: auto;
}

.item{

}

.cart-number {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%;
    left: 50%;
    z-index: 1000;
    width: 1rem;
    height: 1rem;
    font-size: 0.8rem;
    border-radius: 50%;
    color: white;
    background-color: brown;
}

.pop-up {
    position: fixed;
    right: 1%;
    top: 7%;
    background-color: rgba(209, 231, 221, 0.3);
    z-index: 1000
}

.num-element{
    background-color: lightblue;
    display: inline-block;
    width: 1.2em;
    border-radius: 50%;
    text-align: center;
}

.hover-arrow:hover{
    cursor: pointer;
}

.btn-remove {
    background: none;
    border: none;
    transition: opacity 0.1s ease-in-out
}

.btn-remove:hover {
    opacity: 0.5;
}

.input-after{
    position: relative;
}

.input-after::after {
    content: '*';
    position: absolute;
    top: 5px;
    right: 10px;
    color: blue;
    font-size: 1.2em;
}


form > .btn-remove{
    color: red;
}

#body-header > div{
    transition: opacity 0.15s ease-in
}