@model LoginViewModel

@{
    ViewData["Title"] = "Sign in";
}

<form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="login-width base-border shadow m-auto p-5" method="post">

    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

    <div class="mt-5 mb-4">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" placeholder="email@example.com" aria-required="true" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label"></label>
        <input asp-for="Password" class="form-control" placeholder="secret password" aria-required="true" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mt-5">
        <button id="login-submit" type="submit" class="basic-btn w-100">Sign in</button>
    </div>

    <div class="mt-3">
        <p>Don't have an account? <a asp-area="" asp-controller="Account" asp-action="Register">Register here.</a></p>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}