@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Readery!</h1>
    <p class="text-center">
        <small>Home page to be made soon!</small>
    </p>
</div>

<div id="overlay" class="overlay d-none"></div>
<div id="pop-up-third" class="pop-up-third d-none shadow">
    <h4 class="text-center">Thank you for your order!</h4>
    <h5 class="text-center">It will be sent as soon as possible :)</h5>
    <div class="text-center">
        <button class="btn btn-primary pop-up-thid-btn-w" id="close-ok">OK</button>
    </div>
</div>

@section Scripts{
    <script src="~/js/home.js"></script>
}