
<li class="nav-item d-flex mb-sm-0 mb-2">
    <a class="nav-link p-1 text-dark position-relative cart" asp-area="" asp-controller="Cart" asp-action="Index">
        <i class="fa-solid fa-cart-shopping"></i>
        <label class="position-absolute cart-number" id="cartCount"></label>
    </a>
</li>
