
<li class="nav-item d-flex align-items-center position-relative">
    <a class="nav-link p-1 text-dark" asp-area="" asp-controller="Cart" asp-action="Index">
        <i class="fa-solid fa-cart-shopping"></i>
    </a>
    <p class="position-absolute cart-number" id="cartCount"></p>
</li>
